/**
 * projekt: Mobile first
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/iet2zpy.css");
/* font-family: 'rig-shaded-medium-face', sans-serif; font-weight: 500; font-style: normal; */
@import url("https://use.typekit.net/iet2zpy.css");
/* font-family: 'franklin-gothic-urw', sans-serif; font-weight: 300; font-style: normal; */

/* Variabler*/
:root {
  /* farver */
  --white: #fcfcfc;
  --offwhite: #f8f4f1;
  --beige: #ece2d7;
  --green: #7c8f67;
  --black: #1d0b09;

  /* fonte */
  --overskrift: 'rig-shaded-medium-face', sans-serif; /* overskrifter */
  --brødtekst: 'franklin-gothic-urw', sans-serif; /* brødtekst */

  /* whitespace */
--whitespace: .5rem;

/* baggrund ("baggrund med blød tekstur") */
--baggrund: url('../css/images/baggrund.png')
--baggrund: url('../css/images/baggrund.png');
}

/* deinition til iphone x*/
@media only screen and (max-width: 600px) {


body {
  font-family: "franklin-gothic-urw";
  background-color: #ece2d7;
  color: black;
}

/* overskrifter og underoverskrifterr*/
h1 {
  font-family: var(--overskrift);
  font-size: 2.2em;
  text-align: center;
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}

h2 {
  font-family: franklin-gothic-urw;
  text-align: center;
  display: grid;
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);

}

/* flexbox til behandlinger mobil  */
.butikflex{
  display: inline;
    background-color: #ece2d7;
    font-family: "franklin-gothic-urw";
}

.flexbox-container {
  display: flex;
}

.flexbox-item-2 {
  min-height: 200px;
  max-width: 600px;
}

  /* center (class med billederne) til at bestemme billedernes position ved mobil device*/
.center {
  display: inline-flex;
  width: 100%;
  padding-top: 40px;
}

  /* container til billede og tekst */
.container {
  position: relative;

}

  /* tekst til over billederne*/
.text-block {
    position: absolute;
    bottom: 100px;
    right: 70px;
    background-color: #7c8f67;
    border-radius: 20px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }

/* sociale medie ikoner til footer*/
.ikoner {
display: flex;
padding-top: 10px;
padding-bottom: -40px;
}

/* fjern web footer*/
.row{
  display: none;
}


.footer{
  background-color: #f8f4f1;
  font-family: franklin-gothic-urw;
  font-size: 20px;
  text-align: center;
  color: black;
}
}


/* Small devices (portrait tablets and large phones, 600px and up) - til mobil på siden*/
@media only screen and (min-width: 600px) {

  /* flexbox til behandlinger mobil  */
  .butikflex{
    display: inline;
      background-color: #ece2d7;
      font-family: "franklin-gothic-urw";
  }

  .flexbox-container {
    display: flex;
  }

  .flexbox-item-2 {
    min-height: 200px;
    max-width: 600px;
  }

    /* center (class med billederne) til at bestemme billedernes position ved mobil device*/
  .center {
    display: inline-flex;
    width: 100%;
    padding-top: 40px;
  }

    /* container til billede og tekst */
  .container {
    position: relative;

  }

    /* tekst til over billederne*/
  .text-block {
      position: absolute;
      bottom: 100px;
      right: 70px;
      background-color: #7c8f67;
      border-radius: 20px;
      color: white;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 20px;
    }

  /* sociale medie ikoner til footer*/
  .ikoner {
  display: flex;
  }

  /* fjern web footer*/
  .row{
    display: none;
  }

.br{
  margin: 0px;
}

  .footer{
    background-color: #f8f4f1;
    font-family: franklin-gothic-urw;
    font-size: 20px;
    text-align: center;
    color: black;
  }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 900px) {


  /*overskrifter*/
    h1 {
      font-family: var(--overskrift);
      font-size: 2.2em;
      text-align: center;
      margin-top: var(--whitespace);
      margin-bottom: var(--whitespace);
    }
      /* flexe bokse til behandlinger på computer  */
    .butikflex{
      display: flex;
      justify-content: center;
        background-color: #ece2d7;
        font-family: "franklin-gothic-urw";
    }

    .flexbox-container {
      display: flex;
    }

    .flexbox-item-2 {
      min-width: : 760px;
    }

      /* center til at bestemme billedernes position ved mobil device*/
    .center {
      display: block;
      width: 100%;
      padding-top: 40px;
    }

    .container {
      position: relative;

    }

      /* text-block til tekst over billederne*/
    .text-block {
        position: absolute;
        bottom: 100px;
        right: 70px;
        background-color: #7c8f67;
        border-radius: 20px;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
      }

  /* sociale medie ikoner til footer*/

      .ikoner {
      display: flex;
      padding-top: 10px;
      padding-bottom: -40px;
      }

  /* kolonner til footer på computer */
      .row{
        display: flex;
        width: 100%;
      }
      .column {
        display: center;
        width: 50%;
        background-color: #f8f4f1;
        font-family: franklin-gothic-urw;
        font-size: 20px;
        text-align: center;
        color: black;

      }

  /* fjern visning af den mobile footer*/
      .footer{
        display: none;
  }
  }
